# also used by workflows in several other integration repos
name: (common callable lambda deployment workflow)

on:
  workflow_call:
    inputs:
      deploy_to:
        description: 'Environment to deploy to'
        type: string
        required: true
    secrets:
      NPM_TOKEN:
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: to ${{ inputs.deploy_to }}
    environment: ${{ inputs.deploy_to }}
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          always-auth: true
          node-version: '20'
          registry-url: https://registry.npmjs.org
          scope: '@activeprospect'

      - name: Install integration dependencies
        run: npm i

      - name: Install rip-cli
        run: npm i -g @activeprospect/rip-cli
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Install rip-runtime
        run: npm i @activeprospect/rip-runtime

      - name: Set AWS account ID and role ARN based on environment
        run: |
          if [ "${{ inputs.deploy_to }}" = "development" ]; then
            echo "AWS_ACCOUNT_ID=948304120319" >> $GITHUB_ENV
            echo "AWS_ROLE_ARN=arn:aws:iam::948304120319:role/lambda-deploy-role" >> $GITHUB_ENV
          elif [ "${{ inputs.deploy_to }}" = "staging" ]; then
            echo "AWS_ACCOUNT_ID=371005981288" >> $GITHUB_ENV
            echo "AWS_ROLE_ARN=arn:aws:iam::371005981288:role/lambda-deploy-role" >> $GITHUB_ENV
          elif [ "${{ inputs.deploy_to }}" = "production" ]; then
            echo "AWS_ACCOUNT_ID=239238779152" >> $GITHUB_ENV
            echo "AWS_ROLE_ARN=arn:aws:iam::239238779152:role/lambda-deploy-role" >> $GITHUB_ENV
          else
            echo "Unknown environment: ${{ inputs.deploy_to }}"
            exit 1
          fi
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: us-east-1
      

      - name: Remove UI bundles before deploy
        run: rm -rf dist lib/ui/dist lib/**/dist 

      - name: Run rip deploy
        run: rip deploy ${{ inputs.deploy_to }}
        env:
          AWS_ACCOUNT_ID: ${{ env.AWS_ACCOUNT_ID }}
          AWS_REGION: 'us-east-1'
